<%- include('layouts/header') %>

<div class="container">
  <div class="py-5 text-center">
    <h1>Fitness Tracker</h1>
    <p class="lead">Log your workouts, track the duration and calories burned, and keep track of your fitness!</p>
    <p>
      <a class="btn btn-primary" href="/workouts">View Your Workouts</a>
      <a class="btn btn-outline-secondary" href="/workouts/new">Log A New Workout</a>
    </p>
  </div>


<%- include('layouts/footer') %>
